﻿@using Microsoft.AspNet.Identity
@model MindBucks.Data.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <h1>m<i class="fa fa-bullhorn"></i> - mindbucks</h1>
    </div>
</div>

@foreach (var strike in Model.Strikes)
{
    <div class="row">
        <div class="col-md-1">
            @strike.Name
            @Html.GravatarImage(@strike.Email)
        </div>
        <div class="col-md-10">
            <h1>@strike.Strikes</h1>
            <h3>@(((strike.Cash + @strike.Strikes) * 0.1m).ToString("C"))</h3>
        </div>
        <div class="col-md-1">
            @if (User.Identity.IsAuthenticated) {
                <a class="btn btn-default" href="@Url.Action("Strike", "Home", new { strike.Email })">Strike</a>
            }
        </div>
    </div>
}