﻿@model MindBucks.Data.ViewModels.CashIn.CashInViewModel

@{
    ViewBag.Title = "CashIn";
}

<h2>CashIn</h2>

<div class="row">
@using (Html.BeginForm("CashIn", "CashIn", new { }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Available, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.Label(@Model.Available.ToString())
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ammount, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Ammount)
            @Html.ValidationMessageFor(m => m.Ammount)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input class="btn btn-default" type="submit" value="Cash In" />
            <a class="btn btn-danger" href="@Url.Action("Index", "Home")">Cancel</a>
        </div>
    </div>
}
</div>